name: Cypress

on: [push]

jobs:
  cypress-run:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install node
        uses: actions/setup-node@v2
        with:
          node-version: '16.14.2'
      - name: Install dependencies
        run: npm install
      - name: Build
        run: npm run build
      - name: e2e tests
        run: npm run test:e2e:ci
      - name: unit tests
        run: npm run test:unit:ci